*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html{
    width: 100%;
    height: 100%;
    color: white;
}
#main{
    width: 90%;
    margin: 20px auto;
    border: 2px solid gray;
    height: 95vh;
}
#header{
    width: 100%;
    height: 70px;
    background-color: rgb(58, 193, 255);
   padding-top: 2%;
   padding-left: 20px;

}
#two{
width: 50%;
margin: auto;
height: 80%;
text-align: center;
}

#green{
    width: 69%;
    height: 57%;
    background-color: rgb(102, 210, 75);
   padding-top: 3%;
   float: left;
   margin: 2px 0px 2px 0px;
   padding-top: 20%;

}
#voilet{
    width: 30%;
    height: 57%;
    background-color: rgb(213, 108, 213);
   padding: auto;
   float: right;
   margin: 2px 0px 2px 0px;
   padding-top: 20%;

}
#orange1{
    width: 48.5%;
    height: 40%;
    background-color: orange;
   padding-top: 15%;
   margin: 1px;
   float: left;
   margin: 2px;
}#orange2{
    width: 48.5%;
    height: 40%;
    background-color: orange;
   padding-top: 15%;
   margin: 1px;
   float: right;
   margin: 2px;
}
#footer{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 118, 172);
    padding-top: 2%;
    padding-left: 20px;
    clear: both;
}